 #ship{

      background-size: contain;
      background-repeat: no-repeat;
      position: fixed;
      bottom:7%;
      right: 10%;
      width: auto;
      height: 50%;
      z-index: 1;
      animation: shipmove 3s infinite linear;
      transition: filter 0.5s ease-in-out;
    }

    #ship:hover{
      filter: drop-shadow(0 0 10px cyan); 
    }
    
    @keyframes shipmove {
      0% {}
      25%{
        transform: rotate(-3deg) translateY(-3%) translateX(-5%);
      }   
      
      75%{
        transform: rotate(5deg) translateY(5%);
      }   
    }
    @media (max-width:1000px){
      #ship{
        bottom: 7%;
        height: 35%;
      }
    }